:root {
  --primary: rgba(41, 71, 169, 1);
  --secondary: rgba(249, 153, 93, 1);
  --neutral-900: rgba(20, 23, 31, 1);
  --neutral-800: rgba(41, 46, 61, 1);
  --neutral-700: rgba(61, 68, 92, 1);
  --neutral-600: rgba(82, 91, 122, 1);
  --neutral-500: rgba(102, 114, 153, 1);
  --neutral-400: rgba(133, 142, 173, 1);
  --neutral-300: rgba(163, 170, 194, 1);
  --neutral-200: rgba(194, 199, 214, 1);
  --neutral-100: rgba(224, 227, 235, 1);
  --neutral-50: rgba(246, 248, 247, 1);
  --neutralwhite: rgba(255, 255, 255, 1);
  --subtitle-font-family: "WorkSans-Medium", Helvetica;
  --subtitle-font-weight: 500;
  --subtitle-font-size: 20px;
  --subtitle-letter-spacing: 0px;
  --subtitle-line-height: normal;
  --subtitle-font-style: normal;
  --caption-font-family: "WorkSans-Regular", Helvetica;
  --caption-font-weight: 400;
  --caption-font-size: 16px;
  --caption-letter-spacing: 0px;
  --caption-line-height: normal;
  --caption-font-style: normal;
  --heading-1-font-family: "WorkSans-SemiBold", Helvetica;
  --heading-1-font-weight: 600;
  --heading-1-font-size: 72px;
  --heading-1-letter-spacing: 0px;
  --heading-1-line-height: normal;
  --heading-1-font-style: normal;
  --heading-2-font-family: "WorkSans-Bold", Helvetica;
  --heading-2-font-weight: 700;
  --heading-2-font-size: 60px;
  --heading-2-letter-spacing: 0px;
  --heading-2-line-height: normal;
  --heading-2-font-style: normal;
  --heading-3-font-family: "WorkSans-SemiBold", Helvetica;
  --heading-3-font-weight: 600;
  --heading-3-font-size: 48px;
  --heading-3-letter-spacing: 0px;
  --heading-3-line-height: normal;
  --heading-3-font-style: normal;
  --heading-4-font-family: "WorkSans-Bold", Helvetica;
  --heading-4-font-weight: 700;
  --heading-4-font-size: 36px;
  --heading-4-letter-spacing: 0px;
  --heading-4-line-height: normal;
  --heading-4-font-style: normal;
  --heading-5-font-family: "WorkSans-Medium", Helvetica;
  --heading-5-font-weight: 500;
  --heading-5-font-size: 30px;
  --heading-5-letter-spacing: 0px;
  --heading-5-line-height: normal;
  --heading-5-font-style: normal;
  --body-large-font-family: "WorkSans-Regular", Helvetica;
  --body-large-font-weight: 400;
  --body-large-font-size: 24px;
  --body-large-letter-spacing: 0px;
  --body-large-line-height: normal;
  --body-large-font-style: normal;
  --body-medium-font-family: "WorkSans-Regular", Helvetica;
  --body-medium-font-weight: 400;
  --body-medium-font-size: 20px;
  --body-medium-letter-spacing: 0px;
  --body-medium-line-height: normal;
  --body-medium-font-style: normal;
  --body-default-font-family: "WorkSans-Regular", Helvetica;
  --body-default-font-weight: 400;
  --body-default-font-size: 18px;
  --body-default-letter-spacing: 0px;
  --body-default-line-height: normal;
  --body-default-font-style: normal;
  --shadow-1: 0px 8px 8px -4px rgba(17, 24, 39, 0.04), 0px 20px 24px -4px rgba(17, 24, 39, 0.1);
  --shadow-2: 0px 4px 6px -2px rgba(17, 24, 39, 0.05), 0px 12px 16px -4px rgba(17, 24, 39, 0.1);
}
